<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="row">
    <h3>Главная страница</h3>
</div>

<form id="search-book" th:action="@{/}" th:method="post" action="#">
    <div class="row">
        <label for="id-input">Найти книгу по Id</label>
    </div>
    <div class="row">
        <input id="id-input" type="text" th:field="${book.id}">
        <button class="btn btn-primary"  type="submit">Найти</button>
    </div>
</form>

<div class="row">
    <a th:href="@{/book/list}" href="list.html">Список книг</a>
</div>

<div class="row">
    <a th:href="@{/book/create}" href="edit.html">Добавить новую книгу</a>
</div>
</body>
</html>