<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <title>Edit book</title>
</head>

<body>
<h2 th:text="${action} == 'Save' ? 'Добавить новую книгу' : 'Редактировать книгу'">Редактор книги</h2>
<!--/*@thymesVar id="book" type="ru.otus.library.rest.dto.BookDto"*/-->
<form action="#" id="save-form"
      th:action="${action} == 'Save' ? @{/book/create} : @{/book/{id}/update(id=*{book.id})}" th:method="post" th:object="${book}">
    <div class="container">
        <input id="id-input" th:field="${book.id}" type="hidden">
    </div>
    <div class="">
        <label for="title-input">Название:</label>
        <input id="title-input" required th:field="${book.title}" type="text"/>
    </div>
    <div class="">
        <label for="author-input">Автор:</label>
        <input id="author-input" th:field="${book.authors[0].name}" type="text"/>
    </div>

    <div class="">
        <label for="genre-input">Жанр:</label>
        <input id="genre-input" th:field="${book.genres[0].name}" type="text"/>
    </div>
    <div class="">
        <button type="submit">Сохранить</button>
    </div>
</form>
</body>
</html>